<div class="block-contacts">
    <img loading="lazy" src="img/banner6.webp" alt="" class="block-contacts__bg1">
    <div class="container">
        <div class="block-contacts__content">
            <div class="block-contacts__title">
                <img loading="lazy" src="img/icons/contacts-text.svg" alt="">
            </div>
            <div class="block-contacts__body">
                <div class="block-contacts__titles">
                    <h2 class="title2">Остались вопросы?</h2>
                    <p>Свяжитесь с нами любым удобным для вас способом</p>
                </div>
                <a href="tel:79203659551">+7 (920) 365-95-51</a>
            </div>
            <div class="block-contacts__bottom">
                <ul>
                    <li>
                        <a href="./">
                            <span>О нас</span>
                            <svg aria-hidden="true" width="14" height="10">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="./">
                            <span>Услуги</span>
                            <svg aria-hidden="true" width="14" height="10">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="./">
                            <span>Каталог</span>
                            <svg aria-hidden="true" width="14" height="10">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="block-contacts__socials">
                    <a href="./"><img src="img/telegramm.svg" alt=""></a>
                    <a href="./"><img src="img/icons/vk.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>