<div class="block-reviews">
    <img loading="lazy" src="img/banner7.webp" alt="" class="block-reviews__pic1">
    <div class="container">
        <div class="block-reviews__content">
            <h2 class="title2">Отзывы о нас</h2>
            <div class="top-block-reviews">
                <div class="top-block-reviews__left">
                    <div class="top-block-reviews__columns">
                        <div class="top-block-reviews__column">
                            <span>Все отзывы</span>
                            <div class="top-block-reviews__number">5.0</div>
                        </div>
                    </div>
                    <div class="top-block-reviews__columns">
                        <div class="top-block-reviews__column">
                            <img loading="lazy" src="img/icons/location1.svg" alt="">
                            <div class="top-block-reviews__number">5.0</div>
                        </div>
                        <div class="top-block-reviews__column">
                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                            <div class="top-block-reviews__number">5.0</div>
                        </div>
                        <div class="top-block-reviews__column">
                            <img loading="lazy" src="img/icons/location2.svg" alt="">
                            <div class="top-block-reviews__number">5.0</div>
                        </div>
                        <div class="top-block-reviews__column">
                            <img loading="lazy" src="img/icons/map1.svg" alt="">
                            <div class="top-block-reviews__number">5.0</div>
                        </div>
                    </div>
                </div>
                <div class="top-block-reviews__text">
                    488 отзывов из 4 источников
                </div>
                <a href="./" class="link">
                    <span>Читать все отзывы</span>
                    <svg aria-hidden="true" width="8" height="14">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                    </svg>
                </a>
            </div>
            <div class="block-reviews__body">
                <div class="block-reviews__slider swiper">
                    <div class="block-reviews__wrapper swiper-wrapper">
                        <div class="block-reviews__slide swiper-slide">
                            <div class="block-reviews__top">
                                <div class="block-reviews__image">
                                    <img loading="lazy" src="img/photo1.webp" alt="">
                                </div>
                                <div class="block-reviews__titles">
                                    <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                    </div>
                                    <div class="block-reviews__name">ArGass97</div>
                                    <div class="block-reviews__data">9 июн. 2024</div>
                                </div>
                            </div>
                            <div class="block-reviews__text">
                                <p>
                                    Отдыхали в апартаментах на
                                    улице Флотской. Идеальная
                                    небольшая квартира, очень
                                    светлая, красивый вид из окна!
                                    Не первый раз
                                    останавливаемся именно у
                                    вашей организации, и всегда
                                    всё на высшем уровне. Начиная
                                    с самих кварт с самих кварт с самих кварт
                                </p>
                                <a href="./" class="link">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="8" height="14">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </a>
                            </div>
                            <a href="./" class="link2">Отзыв из Яндекс</a>
                        </div>
                        <div class="block-reviews__slide swiper-slide">
                            <div class="block-reviews__top">
                                <div style="background: #ea873a;" class="block-reviews__image">
                                    СТ
                                </div>
                                <div class="block-reviews__titles">
                                    <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                    </div>
                                    <div class="block-reviews__name">Светлана Т.</div>
                                    <div class="block-reviews__data">30 мая. 2024</div>
                                </div>
                            </div>
                            <div class="block-reviews__text">
                                <p>
                                    Отдыхали с ребенком в мае
                                    2024 в апартаментах на
                                    Беломорской 2. Очень чисто,
                                    можно ходить босиком. Номер
                                    оснащен всем необходимым:
                                    полотенца, фен, стиральная
                                    машина с порошком, утюг,
                                    гладильная доска, сушилка,
                                    пылесос ...
                                </p>
                                <a href="./" class="link">
                                    <span>Подробнее</span>
                                    <svg aria-hidden="true" width="8" height="14">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </a>
                            </div>
                            <a href="./" class="link2">Отзыв из Яндекс</a>
                        </div>
                        <div class="block-reviews__slide swiper-slide">
                            <div class="block-reviews__top">
                                <div class="block-reviews__image">
                                    <img loading="lazy" src="img/photo2.webp" alt="">
                                </div>
                                <div class="block-reviews__titles">
                                    <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                    </div>
                                    <div class="block-reviews__name">Андрей М.</div>
                                    <div class="block-reviews__data">15 апр. 2024</div>
                                </div>
                            </div>
                            <div class="block-reviews__text">
                                <p>
                                    Хорошая квартирка для двоих с
                                    шикарным видом с лоджии с
                                    панорамными окнами. Чисто,
                                    аккуратно. Бесконтактное
                                    заселение. Все понравилось.
                                </p>
                            </div>
                            <a href="./" class="link2">Отзыв из Яндекс</a>
                        </div>
                        <div class="block-reviews__slide swiper-slide leave-feedback-slide">
                            <img loading="lazy" src="img/image11.webp" alt="" class="block-reviews__pic2">
                            <a href="./" class="btn bg-green">
                                <span>Оставить отзыв</span>
                            </a>
                        </div>
                        <div class="block-reviews__slide swiper-slide">
                            <div class="block-reviews__top">
                                <div class="block-reviews__image">
                                    <img loading="lazy" src="img/photo2.webp" alt="">
                                </div>
                                <div class="block-reviews__titles">
                                    <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                    </div>
                                    <div class="block-reviews__name">Андрей М.</div>
                                    <div class="block-reviews__data">15 апр. 2024</div>
                                </div>
                            </div>
                            <div class="block-reviews__text">
                                <p>
                                    Хорошая квартирка для двоих с
                                    шикарным видом с лоджии с
                                    панорамными окнами. Чисто,
                                    аккуратно. Бесконтактное
                                    заселение. Все понравилось.
                                </p>
                            </div>
                            <a href="./" class="link2">Отзыв из Яндекс</a>
                        </div>
                        <div class="block-reviews__slide swiper-slide">
                            <div class="block-reviews__top">
                                <div class="block-reviews__image">
                                    <img loading="lazy" src="img/photo2.webp" alt="">
                                </div>
                                <div class="block-reviews__titles">
                                    <div data-rating data-rating-size="5" data-rating-value="4" class="rating">
                                    </div>
                                    <div class="block-reviews__name">Андрей М.</div>
                                    <div class="block-reviews__data">15 апр. 2024</div>
                                </div>
                            </div>
                            <div class="block-reviews__text">
                                <p>
                                    Хорошая квартирка для двоих с
                                    шикарным видом с лоджии с
                                    панорамными окнами. Чисто,
                                    аккуратно. Бесконтактное
                                    заселение. Все понравилось.
                                </p>
                            </div>
                            <a href="./" class="link2">Отзыв из Яндекс</a>
                        </div>
                    </div>
                </div>
                <div class="arrows">
                    <div class="block-reviews__arrow-prev arrow-prev">
                        <svg aria-hidden="true" width="14" height="26">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="block-reviews__arrow-next arrow-next">
                        <svg aria-hidden="true" width="14" height="26">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>