<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О нас</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-about">
                <img src="img/banner4.webp" alt="" class="block-intro__banner">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro__heading-complex">
                            <h2 class="title2">
                                <span> Радуга -</span> самое вежливое агенство недвижимости уже 10 лет!
                            </h2>
                            <div class="badges">
                                <div class="badges__badge">
                                    <svg aria-hidden="true" width="24" height="24">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                    <span>50+ сотрудников в штате</span>
                                </div>
                                <div class="badges__badge badge-blue">
                                    <svg aria-hidden="true" width="24" height="24">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                    <span>10 успешных лет на рынке</span>
                                </div>
                                <div class="badges__badge badge-green">
                                    <svg aria-hidden="true" width="24" height="24">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                    <span>Премиальный и
                                        вежливый сервис</span>
                                </div>
                            </div>
                            <p>
                                Оставляйте заявку на звонок сейчас
                            </p>
                        </div>
                        <form action="#" data-dev data-popup-message="#thanks1" class="form">
                            <div class="form__inputs">
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        data-error="Обязательное поле" placeholder="Введите имя">
                                </div>
                                <div class="form__input">
                                    <input data-required autocomplete="off" type="text" data-error="Обязательное поле"
                                        name="form[]" placeholder="" class="telephone">
                                    <div class="form__placeholder">
                                        <span>+7</span> (999) 999-99-99
                                    </div>
                                </div>
                            </div>
                            <div class="form__options">
                                <div class="form__options-title">Способ связи</div>
                                <div class="options">
                                    <label class="options__item">
                                        <input hidden class="options__input" checked type="radio" value="1"
                                            name="option">
                                        <span class="options__label">
                                            <span class="options__icon"></span>
                                            <span class="options__text">Telegram</span>
                                        </span>
                                    </label>
                                    <label class="options__item">
                                        <input hidden class="options__input" type="radio" value="2" name="option">
                                        <span class="options__label">
                                            <span class="options__icon"></span>
                                            <span class="options__text">WhatsApp</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form__buttons">
                                <button type="submit" class="btn bg-yellow">
                                    <span>Отправить</span>
                                    <svg aria-hidden="true" width="10" height="18">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <div class="form__text">
                                    Нажимая на кнопку “Отправить” вы соглашаетесь с условиями <a href="./">политики
                                        конфиденциальности</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="block-about2">
                <div class="container">
                    <img loading="lazy" src="img/line/line1.svg" alt="" class="block-about2__line1 line1 line">
                    <img loading="lazy" src="img/line/line4.svg" alt="" class="block-about2__line2 line2 line">
                    <img loading="lazy" src="img/line/line5.svg" alt="" class="block-about2__line3 line3 line">
                    <div class="block-about2__content">
                        <h1 class="title1">
                            О компании Радуга
                        </h1>
                        <div class="block-about2__body">
                            <div class="block-about2__top">
                                <div class="block-about2__column">
                                    <p>
                                        <span> Покупка жилья или другой недвижимости с помощью специалистов агентства
                                            позволяет
                                            выбрать именно тот дом или квартиру,</span> которые полностью соответствуют
                                        желаниям и
                                        финансовым возможностям покупателя
                                    </p>
                                </div>
                                <div class="block-about2__column">
                                    <p>
                                        <span>Риэлторы компании также обеспечивают безопасность сделок,</span>
                                        минимизируют риски и
                                        защищают клиента от мошенничества при купле или продаже недвижимости
                                    </p>
                                </div>
                            </div>
                            <div class="block-about2__center">
                                <div class="block-about2__title">
                                    Ключевые особенности агентства «Радуга» включают:
                                </div>
                                <ul>
                                    <li>
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                        <span>
                                            Профессиональные юристы, работающие в штате, которые обладают глубокими
                                            знаниями в области жилищного, гражданского и админи стративного права
                                        </span>
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                        <span>
                                            Обширная база недвижимости, включающая жилые дома, коттеджи, квартиры, а
                                            также
                                            коммерческую недвижимость и земельные участки в Иванове и других регионах
                                            России
                                        </span>
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                        <span>
                                            Открытое взаимодействие с каждым клиентом, позволяю щее обсуждать любые
                                            вопросы, касающиеся эффективности и безопасности сделок
                                        </span>
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                        <span>
                                            Наличие лицензий и сертификатов, подтверждающих легальность и
                                            профессионализм сотрудников агентства, а также множ ество положительных
                                            отзывов
                                            от новых и постоянных клиентов
                                        </span>
                                    </li>
                                    <li>
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                        <span>
                                            Главный офис, расположенный в центре города, что обесп ечивает удобный
                                            доступ из
                                            любого района
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-about2__bottom">
                                <div class="block-about2__column">
                                    <p>
                                        Для получения подробной консультации квалифицированных специалистов, а также для
                                        оформления заявки на сотрудничество и сделки купли/продажи недвижимости, вы
                                        можете воспользоваться формой обратной связи или позвонить по номеру, указанному
                                        в
                                        верхней части страницы
                                    </p>
                                    <p>
                                        Если вы хотите провести быструю, успешную и безопасную сделку — обращайтесь!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits1">
                <img loading="lazy" src="img/banner10.webp" alt="" class="block-benefits1__banner">
                <div class="container">
                    <div class="block-benefits1__content">
                        <div class="block-benefits1__heading">
                            <h2 class="title2">Преимущества работы с нами</h2>
                            <div class="block-benefits1__subtitle">
                                Преимущества работы с нашим агентством недвижимости?
                                <br>
                                Почему стоит выбирать нас?
                            </div>
                            <div class="block-benefits1__text">
                                <p>
                                    Наши опытные специалисты понимают, насколько важен
                                    процесс покупки или продажи недвижимости
                                </p>
                                <p>
                                    Вот несколько преимуществ, которые наши клиенты получают,
                                    работая с нами:
                                </p>
                            </div>
                        </div>
                        <div class="badges">
                            <div class="badges__badge">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                                <span>Безопасностьи надежность</span>
                            </div>
                            <div class="badges__badge badge-blue">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                                <span>Профессиональный опыт и знания</span>
                            </div>
                            <div class="badges__badge badge-green">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                                <span>Индивидуальный подход</span>
                            </div>
                            <div class="badges__badge badge-blue">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                                <span>Широкая база объектов</span>
                            </div>
                            <div class="badges__badge badge-yellow">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                                <span>Экономия времени и сил</span>
                            </div>
                            <div class="badges__badge badge-blue">
                                <svg aria-hidden="true" width="24" height="24">
                                    <use xlink:href="img/sprite.svg#check1"></use>
                                </svg>
                                <span>Ведем переговоры за вас</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits2">
                <div class="container">
                    <div class="block-benefits2__body">
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/icons/icon13.svg" alt="">
                            </div>
                            <div class="block-benefits2__titles">
                                <div class="block-benefits2__title">
                                    БЕЗОПАСТНОСТЬИ НАДЕЖНОСТЬ СДЕЛОК
                                </div>
                                <p>
                                    Мы проверяем все документы и гарантируем юридическую чистоту
                                    каждой сделки, что минимизирует риски для наших клиентов
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/icons/icon14.svg" alt="">
                            </div>
                            <div class="block-benefits2__titles">
                                <div class="block-benefits2__title">
                                    ПРОФЕССИОНАЛЬНЫЙ ОПЫТ И ЗНАНИЯ
                                </div>
                                <p>
                                    Мы помогаем избежать неприятных последствий и гаранти руем, что
                                    ваши интересы будут защищены
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/icons/icon15.svg" alt="">
                            </div>
                            <div class="block-benefits2__titles">
                                <div class="block-benefits2__title">
                                    ПЕРЕГОВОРЫ
                                </div>
                                <p>
                                    Мы берем на себя общение с продавцами, покупателями, обеспечивая прозрачность и
                                    честность на каждом этапе
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/icons/icon16.svg" alt="">
                            </div>
                            <div class="block-benefits2__titles">
                                <div class="block-benefits2__title">
                                    ШИРОКАЯ БАЗА ОБЪЕКТОВ
                                </div>
                                <p>
                                    Наше агентство имеет доступ к широкой базе объектов
                                    недвижимости, включая эксклюзивные предложения.
                                </p>
                                <p>
                                    Это позволяет выбрать лучший вариант, который соотве тствует
                                    вашим требованиям
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/icons/icon17.svg" alt="">
                            </div>
                            <div class="block-benefits2__titles">
                                <div class="block-benefits2__title">
                                    ЭКОНОМИЯ ВРЕМЕНИ И СИЛ
                                </div>
                                <p>
                                    Мы берем на себя все организационные моменты: от поиска
                                    подходящих объектов до подготовки документов.
                                </p>
                                <p>
                                    Вам не нужно тратить время на изучение сложных юридических аспектов и маркетинговых
                                    стратегий
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits2__column">
                            <div class="block-benefits2__icon">
                                <img loading="lazy" src="img/icons/icon18.svg" alt="">
                            </div>
                            <div class="block-benefits2__titles">
                                <div class="block-benefits2__title">
                                    ИНДИВИДУАЛЬНЫЙ ПОДХОД
                                </div>
                                <p>
                                    Мы понимаем, что каждый клиент индивидуален по-своему,
                                    поэтому предлагаем персонализированные решения, исходя из
                                    ваших потребностей и предпочтений
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-teams2">
                <img loading="lazy" src="img/teams.webp" alt="">
                <div class="block-teams2__content">
                    <div class="container">
                        <img loading="lazy" src="img/line/line1.svg" alt="" class="block-teams2__line1 line1 line">
                        <img loading="lazy" src="img/line/line4.svg" alt="" class="block-teams2__line2 line2 line">
                        <img loading="lazy" src="img/line/line5.svg" alt="" class="block-teams2__line3 line3 line">
                        <div class="block-teams2__descr">
                            <p>
                                Доверьтесь нам и мы сделаем процесс работы с недвижимости для вас максимально комфортным
                                и
                                продуктивным
                            </p>
                            <p>
                                Если вы решили воспользоваться нашими услугамиили у вас возникли какие либо вопросы не
                                стесняйтесь приходить к нам в офис
                            </p>
                            <p>
                                Мы с радостью ответим на все ваши вопросы
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-banks">
                <div class="container">
                    <div class="block-banks__content">
                        <h2 class="title2">Банки партнеры</h2>
                        <div class="block-banks__body">
                            <div class="block-banks__slider swiper">
                                <div class="block-banks__wrapper swiper-wrapper">
                                    <div class="block-banks__slide swiper-slide">
                                        <img loading="lazy" src="img/banks/image1.webp" alt="">
                                    </div>
                                    <div class="block-banks__slide swiper-slide">
                                        <img loading="lazy" src="img/banks/image2.webp" alt="">
                                    </div>
                                    <div class="block-banks__slide swiper-slide">
                                        <img loading="lazy" src="img/banks/image3.webp" alt="">
                                    </div>
                                    <div class="block-banks__slide swiper-slide">
                                        <img loading="lazy" src="img/banks/image4.webp" alt="">
                                    </div>
                                    <div class="block-banks__slide swiper-slide">
                                        <img loading="lazy" src="img/banks/image3.webp" alt="">
                                    </div>
                                    <div class="block-banks__slide swiper-slide">
                                        <img loading="lazy" src="img/banks/image4.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="arrows">
                                <div class="block-banks__arrow-prev arrow-prev">
                                    <svg aria-hidden="true" width="14" height="26">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                                <div class="block-banks__arrow-next arrow-next">
                                    <svg aria-hidden="true" width="14" height="26">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-certificates">
                <div class="container">
                    <img loading="lazy" src="img/line/line8.svg" alt="" class="block-certificates__line1 line">
                    <img loading="lazy" src="img/line/line19.svg" alt="" class="block-certificates__line2 line">
                    <img loading="lazy" src="img/line/line20.svg" alt="" class="block-certificates__line3 line">
                    <h2 class="title2">Наши сертификаты</h2>
                    <div class="block-certificates__content">
                        <div class="block-certificates__body">
                            <div class="block-certificates__slider swiper">
                                <div class="block-certificates__wrapper swiper-wrapper">
                                    <a href="img/certificates/image1.webp" data-fancybox="gallery3"
                                        class="block-certificates__slide swiper-slide">
                                        <img loading="lazy" src="img/certificates/image1.webp" alt="">
                                    </a>
                                    <a href="img/certificates/image2.webp" data-fancybox="gallery3"
                                        class="block-certificates__slide swiper-slide">
                                        <img loading="lazy" src="img/certificates/image2.webp" alt="">
                                    </a>
                                    <a href="img/certificates/image3.webp" data-fancybox="gallery3"
                                        class="block-certificates__slide swiper-slide">
                                        <img loading="lazy" src="img/certificates/image3.webp" alt="">
                                    </a>
                                    <a href="img/certificates/image1.webp" data-fancybox="gallery3"
                                        class="block-certificates__slide swiper-slide">
                                        <img loading="lazy" src="img/certificates/image1.webp" alt="">
                                    </a>
                                    <a href="img/certificates/image2.webp" data-fancybox="gallery3"
                                        class="block-certificates__slide swiper-slide">
                                        <img loading="lazy" src="img/certificates/image2.webp" alt="">
                                    </a>
                                    <a href="img/certificates/image3.webp" data-fancybox="gallery3"
                                        class="block-certificates__slide swiper-slide">
                                        <img loading="lazy" src="img/certificates/image3.webp" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="arrows">
                                <div class="block-certificates__arrow-prev arrow-prev">
                                    <svg aria-hidden="true" width="14" height="26">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                                <div class="block-certificates__arrow-next arrow-next">
                                    <svg aria-hidden="true" width="14" height="26">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="block-about__body">
                            <div class="block-about__column column-bg bg-green">
                                <div class="block-about__icon">
                                    <img loading="lazy" src="img/icons/icon1.svg" alt="">
                                </div>
                                <span>продажа недвижмости</span>
                            </div>
                            <div class="block-about__column">
                                <div class="block-about__icon">
                                    <img loading="lazy" src="img/icons/icon2.svg" alt="">
                                </div>
                                <span>Оценка недвижмости</span>
                            </div>
                            <div class="block-about__column column-bg bg-yellow">
                                <div class="block-about__icon">
                                    <img loading="lazy" src="img/icons/icon3.svg" alt="">
                                </div>
                                <span>Безопасная сделка</span>
                            </div>
                            <div class="block-about__column">
                                <div class="block-about__icon">
                                    <img loading="lazy" src="img/icons/icon4.svg" alt="">
                                </div>
                                <span>Огромная<br> база объектов</span>
                            </div>
                            <div class="block-about__column column-bg bg-blue">
                                <div class="block-about__icon">
                                    <img loading="lazy" src="img/icons/icon5.svg" alt="">
                                </div>
                                <span>Юридическая экспертиза</span>
                            </div>
                            <div class="block-about__column">
                                <div class="block-about__icon">
                                    <img loading="lazy" src="img/icons/icon6.svg" alt="">
                                </div>
                                <span>Сопровождение сделок</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-consultation">
                <div class="container">
                    <div class="block-consultation__content">
                        <img loading="lazy" src="img/image4.webp" alt="" class="block-consultation__pic1">
                        <div class="block-consultation__body">
                            <div class="block-consultation__center">
                                <div class="block-consultation__title">Бесплатная консультация</div>
                                <p>
                                    Сообщите нам, что именно вы ищете, и мы
                                    подберем для вас наилучшие варианты
                                </p>
                            </div>
                            <a href="./" data-popup="#form1" class="btn bg-yellow">
                                <span>Заказать</span>
                                <svg aria-hidden="true" width="10" height="18">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-socials2">
                <div class="container">
                    <div class="block-socials2__content">
                        <div class="block-socials2__title">
                            Подпишитесь на нас в социальных сетях, чтобы быть в курсе всех событий
                        </div>
                        <div class="socials-block-intro">
                            <a href="./">
                                <img src="img/vk.webp" alt="">
                                <div class="socials-block-intro__titles">
                                    <div class="socials-block-intro__title">Мы во Вконтакте</div>
                                    <p>
                                        Нажмите на значек, чтобы перейти по ссылке
                                    </p>
                                </div>
                            </a>
                            <a href="./">
                                <img src="img/tg.webp" alt="">
                                <div class="socials-block-intro__titles">
                                    <div class="socials-block-intro__title">Мы в Telegram</div>
                                    <p>
                                        Нажмите на значек, чтобы перейти по ссылке
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/contacts.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>