.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 50;
    &.header-white {
        .header__right {
            &::before {
                content: "";
                background-color: #fff;
            }
        }
    }
    // .header__content

    &__content {
        margin: 15px 0px 0px 0px;
        display: flex;
        gap: 15px;
        align-items: center;
        @media (max-width: 768px) {
            margin: 10px 0px 0px 0px;
            gap: 10px;
        }
        @media (max-width: 600px) {
            position: relative;
        }
    }

    // .header__logo

    &__logo {
        height: 140px;
        display: flex;
        width: auto;
        margin: 0px 0px 0px -15px;
        @media (max-width: 768px) {
            height: 90px;
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: 600px) {
            position: relative;
            z-index: 10;
            height: 60px;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    // .header__right

    &__right {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        border-radius: 12px;
        padding: 30px 40px;
        transition: border-radius 0.3s;
        .menu-open & {
            border-radius: 12px 12px 0px 12px;
        }
        @media (max-width: 1300px) {
            padding: 30px 20px;
        }
        @media (max-width: 1100px) {
            justify-content: start;
        }
        @media (max-width: 768px) {
            padding: 20px 15px;
        }
        @media (max-width: 600px) {
            position: static;
            padding: 10px 10px 10px 0px;
            gap: 10px;
            border-radius: 0px;
        }
        &::before {
            content: "";
            border-radius: 12px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.5);
            transition:
                background-color 0.3s,
                border-radius 0.3s;
            .menu-open & {
                border-radius: 12px 12px 0px 12px;
                background-color: #fff;
                @media (max-width: 480px) {
                    border-radius: 12px 12px 0px 0px;
                }
            }
        }
    }

    // .header__location

    &__location {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        z-index: 10;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        svg {
            fill: var(--f70000);
        }
    }

    // .header__contacts

    &__contacts {
        position: relative;
        z-index: 10;
        display: flex;
        gap: 12px;
        align-items: center;
        @media (max-width: 1100px) {
            flex: 1 1 auto;
            justify-content: flex-end;
        }
        @media (max-width: 768px) {
            gap: 8px;
        }
        a {
            white-space: nowrap;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            transition: color 0.3s;
            span {
                font-weight: 700;
            }
            &:hover {
                color: var(--f70000);
            }
            @media (max-width: 768px) {
                font-size: 16px;
            }
            @media (max-width: 480px) {
                font-size: 14px;
            }
        }
    }

    // .header__icons

    &__icons {
        display: flex;
        gap: 5px;
        img {
            width: 24px;
            height: 24px;
        }
        @media (max-width: 480px) {
            display: none;
        }
    }

    // .header__body

    &__body {
        position: relative;
        z-index: 10;
        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: absolute;
            z-index: 50;
            top: 100%;
            right: 0;
            width: 360px;
            height: calc(100vh - 125px);
            background-color: #fff;
            padding: 20px 15px 20px 15px;
            transition: opacity 0.3s;
            border-radius: 0px 0px 12px 12px;
            opacity: 0;
            pointer-events: none;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .menu-open & {
                opacity: 1;
                pointer-events: auto;
            }
            @media (max-width: 768px) {
                width: 300px;
                height: calc(100vh - 88px);
            }
            @media (max-width: 600px) {
                height: calc(100vh - 71px);
            }
            @media (max-width: 480px) {
                width: 100%;
                align-items: center;
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px 35px;
            @media (max-width: 1300px) {
                gap: 10px 15px;
            }
            @media (max-width: 1100px) {
                flex-direction: column;
                align-items: start;
                gap: 20px;
            }
            @media (max-width: 480px) {
                align-items: center;
            }
            li {
                a {
                    font-weight: 800;
                    font-size: 13px;
                    line-height: 120%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    transition: color 0.3s;
                    &:hover {
                        color: var(--f70000);
                    }
                    @media (max-width: 480px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.icon-menu {
    display: none;
    position: relative;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    @media (max-width: 1100px) {
        display: block;
    }
    @media (max-width: 768px) {
        height: 14.8px;
        width: 20px;
    }
    span,
    &::before,
    &::after {
        content: "";
        transition: background-color 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: var(--1e1e1e);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        top: calc(50% - 1px);
    }
    .menu-open & {
        &::before {
            top: calc(50% - 0.5px);
            transform: rotate(-45deg);
        }
        span {
            width: 0;
        }
        &::after {
            content: "";
            bottom: calc(50% - 1.4px);
            transform: rotate(45deg);
        }
    }
}
