body::after {
    content: "";
    background-color: rgb(30, 30, 30, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    max-width: 810px;
    background-color: #fff;
    .lock & {
        visibility: visible;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 12;
    background-color: var(--f70000);
    transition: opacity 0.3s;
    svg {
        fill: #fff;
        @media (max-width: 768px) {
            width: 15px;
            height: 15px;
        }
    }
    &:hover {
        opacity: 0.7;
    }
    @media (max-width: 768px) {
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }
}

.popup {
    // .popup__body

    &__body {
    }

    // .popup__title

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font-weight: 800;
        font-size: 36px;
        line-height: 122%;
        text-align: center;
        background: var(--f0efed);
        padding: 60px 40px 36px 40px;
        svg {
            fill: var(--f70000);
            @media (max-width: 768px) {
                width: 100px;
                height: 100px;
            }
            @media (max-width: 480px) {
                width: 60px;
                height: 60px;
            }
        }
        @media (max-width: 768px) {
            font-size: 28px;
            gap: 20px;
            padding: 45px 20px 20px 20px;
        }
        @media (max-width: 480px) {
            font-size: 22px;
        }
    }

    // .popup__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 28px;
        line-height: 143%;
        text-align: center;
        max-width: 447px;
        @media (max-width: 768px) {
            font-size: 24px;
        }
        @media (max-width: 480px) {
            font-size: 20px;
        }
    }

    // .popup__work

    &__work {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 30px 30px 0 0;
        padding: 15px 50px;
        min-height: 80px;
        font-weight: 800;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--ffffff);
        text-shadow: 4px 2px 5px rgba(30, 30, 30, 0.12);
        background:
            radial-gradient(
                83.94% 83.94% at 26.39% 20.83%,
                rgba(255, 255, 255, 0.59) 0%,
                rgba(255, 255, 255, 0) 69.79%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%), #f70000;
        @media (max-width: 768px) {
            padding: 15px 30px;
            min-height: 100%;
        }
        @media (max-width: 480px) {
            font-size: 13px;
            width: 100%;
            padding: 15px;
        }
    }
}

.popup-thanks {
    .form {
        gap: 45px;
        padding: 45px 70px 0px 70px;
        @media (max-width: 992px) {
            padding: 40px 40px 0px 40px;
        }
        @media (max-width: 768px) {
            padding: 30px 20px 0px 20px;
            gap: 20px;
        }
    }
    .popup__title {
        padding: 70px 80px 56px 80px;
        @media (max-width: 768px) {
            padding: 45px 20px 20px 20px;
        }
    }
}

.popup-violet {
    .btn {
        box-shadow:
            4px 18px 42px 0 rgba(30, 30, 30, 0.15),
            inset -3px -4px 7px 0 rgba(255, 255, 255, 0.15);
        background:
            linear-gradient(180deg, #cbabdc 0%, #9c32f7 100%),
            radial-gradient(
                83.94% 83.94% at 26.39% 20.83%,
                rgba(255, 255, 255, 0.59) 0%,
                rgba(255, 255, 255, 0) 69.79%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%);
    }
    .popup__close {
        background: linear-gradient(180deg, #cbabdc 0%, #9c32f7 100%);
    }
    .form__input {
        &::after {
            content: "";
            background: linear-gradient(180deg, rgba(203, 171, 220, 0.8) 0%, rgba(156, 50, 247, 0.8) 100%);
        }
    }
    .options__icon {
        border: none;
        background: linear-gradient(180deg, rgba(203, 171, 220, 0.8) 0%, rgba(156, 50, 247, 0.8) 100%);
        &::before {
            content: "";
            background: linear-gradient(180deg, rgba(203, 171, 220, 0.8) 0%, rgba(156, 50, 247, 0.8) 100%);
        }
        &::after {
            content: "";
            left: 4px;
            top: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            opacity: 1;
        }
    }
    .form__text {
        a {
            &:hover {
                color: #9c32f7;
            }
        }
    }
    .form__error {
        color: #9c32f7;
    }
    .popup__work {
        background:
            linear-gradient(180deg, #cbabdc 0%, #9c32f7 100%),
            radial-gradient(
                83.94% 83.94% at 26.39% 20.83%,
                rgba(255, 255, 255, 0.59) 0%,
                rgba(255, 255, 255, 0) 69.79%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%);
    }
}

.popup-green {
    .btn {
        box-shadow:
            4px 18px 42px 0 rgba(30, 30, 30, 0.15),
            inset -3px -4px 7px 0 rgba(255, 255, 255, 0.15);
        background:
            linear-gradient(180deg, #8dc124 0%, #00813b 100%),
            radial-gradient(
                83.94% 83.94% at 26.39% 20.83%,
                rgba(255, 255, 255, 0.59) 0%,
                rgba(255, 255, 255, 0) 69.79%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%);
    }
    .popup__close {
        background: linear-gradient(180deg, #8dc124 0%, #00813b 100%);
    }
    .form__input {
        &::after {
            content: "";
            background: linear-gradient(180deg, rgba(141, 193, 36, 0.8) 0%, rgba(0, 129, 59, 0.8) 100%);
        }
    }
    .options__icon {
        border: none;
        background:
            linear-gradient(180deg, #8dc124 0%, #00813b 100%),
            radial-gradient(
                83.94% 83.94% at 26.39% 20.83%,
                rgba(255, 255, 255, 0.59) 0%,
                rgba(255, 255, 255, 0) 69.79%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%);
        &::before {
            content: "";
            background:
                linear-gradient(180deg, #8dc124 0%, #00813b 100%),
                radial-gradient(
                    83.94% 83.94% at 26.39% 20.83%,
                    rgba(255, 255, 255, 0.59) 0%,
                    rgba(255, 255, 255, 0) 69.79%,
                    rgba(255, 255, 255, 0) 100%
                ),
                radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%);
        }
        &::after {
            content: "";
            left: 4px;
            top: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            opacity: 1;
        }
    }
    .form__text {
        a {
            &:hover {
                color: #00813b;
            }
        }
    }
    .form__error {
        color: #00813b;
    }
    .popup__work {
        background:
            linear-gradient(180deg, #8dc124 0%, #00813b 100%),
            radial-gradient(
                83.94% 83.94% at 26.39% 20.83%,
                rgba(255, 255, 255, 0.59) 0%,
                rgba(255, 255, 255, 0) 69.79%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%);
    }
}
