.arrows {
    @media (max-width: 1500px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 40px 0px 0px 0px;
    }
    @media (max-width: 992px) {
        display: none;
    }
}
.arrow-prev {
    cursor: pointer;
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    box-shadow: inset -3px -4px 7px 0 rgba(255, 255, 255, 0.15);
    background: var(--ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -140px;
    transform: translate(0px, -50%);
    z-index: 15;
    svg {
        fill: var(--1e1e1e);
        transform: rotate(-180deg);
        margin: 0px 3px 0px 0px;
    }
    @media (max-width: 1600px) {
        left: -100px;
    }
    @media (max-width: 1500px) {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }
}
.arrow-next {
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 15;
    cursor: pointer;
    flex: 0 0 80px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: inset -3px -4px 7px 0 rgba(255, 255, 255, 0.15);
    background: var(--ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        fill: var(--1e1e1e);
        margin: 0px 0px 0px 3px;
    }
    @media (max-width: 1600px) {
        right: -100px;
    }
    @media (max-width: 1500px) {
        position: relative;
        right: 0;
        top: 0;
        transform: translate(0, 0);
    }
}

.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    opacity: 0.7;
}
