:root {
  --container-width: 1300px;
  --container-padding: 20px;
  --ffffff: #fff;
  --f70000: #f70000;
  --1e1e1e: #1e1e1e;
  --btn: #f70000;
  --f0efed: #f0efed;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Caveat", sans-serif;
}
